 * {
   padding: 0;
   margin: 0;

   /* background-color: rgb(215, 229, 237); */
   font-family: arial;
 }

 .parent {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(11, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
 }

 /* HEADER TOPBAR */

 .header-top-bar {
   grid-area: 1 / 1 / 2 / 7;

   border-width: 3px;
   border-color: black;
   border-style: solid;

   padding-top: 3px;
   padding-bottom: 3px;
 }

 .header-bottom-bar {
   grid-area: 2 / 1 / 3 / 7;

   height: 50px;
   border-bottom: 3px black solid;
   border-left: 3px black solid;
   border-right: 3px black solid;
 }

 .side-bar {
   grid-area: 3 / 1 / 9 / 3;

   width: 270px;

 }

 .bottom-bar {
   grid-area: 9 / 1 / 11 / 7;

   border-left: 3px solid black;
   border-right: 3px solid black;
   border-bottom: 3px solid black;
   height: 100px;

   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }

 .credits {
   grid-area: 11 / 1 / 12 / 7;

   display: flex;
   flex-direction: column-reverse;
   justify-content: center;

   height: 30px;

   border-left: 3px solid black;
   border-right: 3px solid black;
   border-bottom: 3px solid black;
   background-color: gray;
 }

 .articles {
   grid-area: 3 / 3 / 9 / 7;

   column-gap: 10px;
   row-gap: 10px;
   margin-top: 100px;
 }

 .arrow-points {
   list-style-type: ">";
   margin-left: 20px;
 }


 .profiel {
   margin-top: 0px;
   display: inline-flex;
   margin-left: 810px;
   color: blue;
 }

 .spacer {
   color: black;
   font-weight: bold;
   font-size: larger;
   margin-left: 5px;
   margin-right: 5px;
 }

 /* / HEADER TOPBAR */

 /* HEADER BOTTOMBAR */

 .header-bottom-bar {
   height: 50px;
   border-bottom: 3px black solid;
   border-left: 3px black solid;
   border-right: 3px black solid;
 }

 #logo {
   width: 100px;
   display: inline-flex;
   flex-direction: column-reverse;
   margin-top: 20px;
 }

 .navbar {
   display: inline-flex;
   margin-top: 20px;
 }

 .shop-buttons {
   display: inline-flex;
   margin-left: 530px;
   margin-top: 20px;
 }

 .item {
   margin-left: 10px;
 }

 #clear {
   margin-left: 2px;

   font-weight: 600;
   color: red;

   cursor: pointer;
 }

 /* / HEADER BOTTOMBAR */

 /* CONTENT */

 .content {
   border-left: 3px solid black;
   border-right: 3px solid black;
   border-bottom: 3px solid black;

   display: flex;

   width: 100%;

   box-sizing: border-box;
 }

 /* SIDEBAR */

 .bekeken-items {
   display: inline-flex;
   width: 200px;
   border-bottom: 2px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
 }


 .button {
   background-color: rgb(8, 127, 167);
   color: white;
   border-width: 3px;
   border-color: black;
   border-style: solid;

   text-decoration: none;
   cursor: pointer;
 }

 .button:hover {
   background-color: rgb(6, 100, 131);
   color: white;
   border-width: 3px;
   border-color: black;
   border-style: solid;

   text-decoration: none;
   cursor: pointer;
 }

 .side-bar {
   /* width: 270px; */
   width: 20%;
   margin-bottom: 40px;
 }

 .side-box {
   flex-direction: column;
   display: flex;

   width: 200px;

   margin-left: 15px;
   margin-top: 20px;

   padding: 10px;

   border-top: 5px rgb(0, 195, 255) solid;
   border-bottom: 3px solid black;
   border-left: 3px solid black;
   border-right: 3px solid black;
 }

 /* / SIDEBAR */

 /* ARTICLES */

 .articles {
   display: inline-flex;
   flex-wrap: wrap;

   gap: 20px;

   margin-top: 100px;
   padding-left: 2%;

   width: 80%;
   height: 450px;
 }

 .product {
   border: 3px solid black;
   width: 200px;
   height: 230px;
 }

 .geld-briefje {
   padding: 2px;
   width: 196px;
   height: 96px;
 }

 .product-text {
   display: inline-block;

   font-size: larger;
   font-weight: bold;
   width: 80px;

   text-decoration: none;
 }

 .cart-button {
   display: inline-block;
   margin-left: 60px;
   width: 40px;
   height: 40px;
   border: 2px solid black;
   border-radius: 20%;

   cursor: pointer;

   /* transition: transform 2s; */
 }

 .cart-img {
   width: 40px;
   height: 40px;
 }

 .cart-button:hover {
   display: inline-block;
   margin-left: 60px;
   width: 40px;
   height: 40px;
   border: 2px solid black;
   border-radius: 20%;

   cursor: pointer;

   animation: heartbeat 1s;

   transform: scale(1.1);
   background-color: rgb(213, 213, 213);
 }

 .cart-button:active:after {
   display: inline-block;
   margin-left: 60px;
   width: 40px;
   height: 40px;
   border: 2px solid black;
   border-radius: 20%;

   /* transform: rotate(180deg); */
 }

 .prijs {
   display: flex;
   flex-direction: column;
 }

 /* / ARTICLES*/
 /* BOTTOMBAR */

 .bottom-bar {
   border-left: 3px solid black;
   border-right: 3px solid black;
   border-bottom: 3px solid black;
   height: 130px;
   width: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }

 .bottom-box {
   display: flex;
   flex-direction: column;
 }

 #VEILIG-BETALEN {
   display: flex;
   align-items: center;
   width: 300px;

 }

 #payment-methods {
   display: flex;
   gap: 20px;
 }


 /* / BOTTOMBAR */

 /* SLIDER */

 .min-max-slider {
   position: relative;
   width: 200px;
   text-align: center;
   margin-bottom: 10px;
 }

 .min-max-slider>label {
   display: none;
 }

 span.value {
   height: 1.7em;
   font-weight: bold;
   display: inline-block;
 }

 span.value.lower::before {
   content: "€";
   display: inline-block;
 }

 span.value.upper::before {
   content: "- €";
   display: inline-block;
   margin-left: 0.4em;
 }

 .min-max-slider>.legend {
   display: flex;
   justify-content: space-between;
 }

 .min-max-slider>.legend>* {
   font-size: small;
   opacity: 0.25;
 }

 .min-max-slider>input {
   cursor: pointer;
   position: absolute;
 }

 /* webkit specific styling */
 .min-max-slider>input {
   -webkit-appearance: none;
   outline: none !important;
   background: transparent;
   background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
 }

 .min-max-slider>input::-webkit-slider-thumb {
   -webkit-appearance: none;
   /* Override default look */
   appearance: none;
   width: 14px;
   /* Set a specific slider handle width */
   height: 14px;
   /* Slider handle height */
   background: #eee;
   /* Green background */
   cursor: pointer;
   /* Cursor on hover */
   border: 1px solid gray;
   border-radius: 100%;
 }

 .min-max-slider>input::-webkit-slider-runnable-track {
   cursor: pointer;
 }

 /* / SLIDER */
 /* BESTEL FORM */

 .pos-mid {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   min-width: 720px;
 }

 #personalia {
   position: absolute;
   top: 50px;
 }

 #locatie {
   position: absolute;
   top: 170px;
 }

 #contact {
   position: absolute;
   top: 240px;
 }

 #avvBox {
   position: absolute;
   top: 290px;
   left: 50%;
   transform: translate(-50%);
   min-width: 720px;
   background-color: rgb(181, 181, 181);
 }

 #star {
   position: absolute;
   top: 310px;
 }

 .fake-button {
   border: 1px solid black;
   width: fit-content;
   background-color: #E5E5E5;
   display: inline;

   cursor: pointer;
   margin-right: 10px;

   text-decoration: none;

   border-radius: 5px;
 }

 /* / BESTEL FORM */
 /* CART */
 #date {
   margin-right: 10px;
 }

 .moneydisplay {
   display: flex;
   width: 100%;
   height: 30px;
 }

 .moneypart {
   width: 25%;
 }

 /* / CART */

 /* PRODUCT PAGE */
 #mainImg {
   width: 600px;
   height: 300px;
 }

 .altImg {
   width: 200px;
   height: 100px;
 }

 .product-page-buttons {
   display: flex;
   margin-top: 25px;
 }

 .product-title {
   margin-left: 10px;
   margin-top: 20px;

   font-family: arial;
   font-size: 40px;
   font-weight: 700;
 }

 .product-prijs {
   margin-left: 10px;

   font-family: arial;
   font-size: 30px;
   font-weight: 700;
 }

 .addtocart {
   border: 2px solid black;
   background-color: skyblue;
   width: 100px;
   height: 100px;
   color: white;
   border-radius: 10px;
   margin-left: 10px;
 }

 .buynow {
   text-decoration: none;
   border: 2px solid black;
   display: flex;
   background-color: orange;
   width: 300px;
   height: 100px;
   color: white;
   border-radius: 10px;
   margin-left: 10px;
   align-items: center;
   font-size: 40px;
 }

 .register {
   width: 96px;
   height: 96px;
   color: white;
   padding: 2px;
 }

 /* #border {
   border-bottom: 2px black solid;
 } */

 /* / PRODUCT PAGE */

 /*  STYLING */

 .w-30 {
   width: 30px;
 }

 .w-50 {
   width: 50px;
 }

 .w-80 {
   width: 80px;
 }

 .w-120 {
   width: 120px;
 }

 .w-165 {
   width: 165px;
 }

 .w-max {
   width: 100%;
 }

 .selected {
   background: rgb(199, 194, 194);
   border: 1px solid black;
   border-top: 2px #03C3FF solid;
 }

 .hidden {
   color: white;
 }

 .c-p {
   cursor: pointer;
 }

 .td-none {
   text-decoration: none;
   color: black;
 }

 .dis-none {
   display: none;
 }

 /* .pos-mid {} */

 /* Hieronder staan alle stijles voor de fonts  */
 .fw-bolder {
   font-weight: bolder
 }

 .fw-bold {
   font-weight: bold;
 }

 .fs-15 {
   font-size: 15px;
 }

 .fs-20 {
   font-size: 20px;
 }

 .fs-small {
   font-size: small;
 }

 .b-2-s-b {
   border: 2px solid black;
 }

 .bb-2-s-b {
   border-bottom: 2px solid black;
 }

 .mt-5 {
   margin-top: 5px;
 }

 .mb-5 {
   margin-bottom: 5px;
 }

 .ds-flex {
   display: flex;
 }

 .fd-rr {
   flex-direction: row-reverse;
 }

 .col-lsb {
   color: lightskyblue;
 }

 .col-white {
   color: white;
 }

 .bcol-000195255 {
   background-color: rgb(0, 195, 255);
 }

 /* / STYLING */
 /* ANIMATIONS */
 @keyframes heartbeat {
   0% {
     transform: scale(1);
   }

   100% {
     transform: scale(1.1);
     background-color: rgb(213, 213, 213);
   }
 }

 @keyframes click {
   0% {
     transform: scale(1.1);
     background-color: gray;
     cursor: none;
   }

   100% {
     transform: scale(1);
     cursor: pointer;
   }
 }

 /* / ANIMATIONS */